body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: pink;
}

h1 {
  font-size: 4rem;
  color: rgb(174, 21, 21);
  font-family: Verdana;
  font-style: italic;
}

button {
  margin: 1rem;
  border-radius: 0.999rem;
  padding: 1rem;
  background-color: #ad2440;
  
}

footer {
  padding: 2rem;
}

.butcherPig {
  width: 19rem;
}

.userInput {
  border-radius: .5rem;
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.424);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.inputArea {
  background-color: #606060;
  color: rgb(20, 183, 212);
  border-radius: 3rem;
  padding: 1rem;
  font-size: 1.2rem;

}
.outputArea {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;

}

.footerText{
  font-weight: bolder;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.424);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
  }
}
